.contentList {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 678px;
    height: 50px;
    border-radius: 4px;
    padding: 3px;      
    background: var(--gray-400);
    color: var(--gray-100);
    font-size: 12px;
}

.contentList + .contentList{
    margin-top: 0.5rem;
}

.contentList > svg {
    color: var(--gray-300);
    margin-right: 10px;
} 
.contentList > div {
    display: flex;
    align-items: center;
    justify-content: left;
}


.checkbox {
    display: flex;
    align-items: left;    
    border: 2px solid var(--purple); 
    width: 15px; 
    height: 15px; 
    border-radius: 50%;
}

.checkbox > input[type=checkbox] {
display: none;
}

.contentList div label {
    margin-left: 8px;
}